
body {
    font-family: Arial, sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#password-strength {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#accounts-list {
    margin-top: 20px;
}

delete-button { 
padding: 5px; 
background-color: #dc3545; 
color: #fff; 
border: none; 
border-radius: 5px; 
cursor: pointer; } 

delete-button:hover { 
background-color: #c82333; 
}
